<div
  class="register-page d-flex align-items-center justify-content-center min-vh-100 bg-light"
>
  <div
    class="card shadow-lg p-4 mt-4"
    style="max-width: 500px; width: 100%; border-radius: 1rem"
  >
    <div class="text-center mb-4">
      <h2 class="fw-bold mb-2" style="color: var(--bright-blue-dark)">
        Set Your Password
      </h2>
    </div>
    <form [formGroup]="setPasswordForm" (ngSubmit)="submit()" novalidate>
      <!-- Password -->
      <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input
          id="Password"
          type="password"
          class="form-control"
          placeholder="Enter password"
          formControlName="Password"
          [ngClass]="{
            'is-invalid': getPassword.invalid && getPassword.touched
          }"
        />
        <div
          *ngIf="getPassword.invalid && getPassword.touched"
          class="invalid-feedback"
        >
          <div *ngIf="getPassword.hasError('required')">
            Password is required.
          </div>
          <div *ngIf="getPassword.hasError('minlength')">
            Password should be at least 7 characters.
          </div>
        </div>
      </div>
      <!-- ConfirmPassword -->
      <div class="mb-3">
        <label for="ConfirmPassword" class="form-label">Confirm Password</label>
        <input
          id="ConfirmPassword"
          type="password"
          class="form-control"
          placeholder="Confirm password"
          formControlName="ConfirmPassword"
          [ngClass]="{
            'is-invalid':
              (getConfirmPassword.invalid && getConfirmPassword.touched) ||
              (setPasswordForm.hasError('mismatch') &&
                getConfirmPassword.touched)
          }"
        />
        <div
          *ngIf="getConfirmPassword.invalid && getConfirmPassword.touched"
          class="invalid-feedback"
        >
          <div *ngIf="getConfirmPassword.hasError('required')">
            Confirmed Password is required.
          </div>
        </div>
        <div
          *ngIf="
            setPasswordForm.hasError('mismatch') && getConfirmPassword.touched
          "
          class="invalid-feedback"
        >
          Passwords do not match.
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary w-100 mt-2"
        [disabled]="setPasswordForm.invalid"
      >
        Set Password
      </button>
    </form>
    <button type="submit" class="btn btn-dark w-100 mt-2" (click)="resendOTP()">
      Resend OTP
    </button>
  </div>
</div>
